a{
    color: blanchedalmond;
    font-size: 20px;
}
a:hover {
    color:blue
}

p::first-letter {
    font-size: 300%;
    color: green;
}

/* Estilo menu desplegable*/
.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: black;
    color:gray;
    padding: 20px;
    transform: translateX(-250px);
    transition: transform 0.5s;
}
.menu-lateral.activo{
    transform: translateX(0);
}
.contenido-menu{
    margin-top: 50px;
}
.contenido-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.contenido-menu li{
    margin-bottom: 10px;
}
.contenido-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.boton-menu{
    position: absolute;
    top: 20px;
    right: -50px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Fondo*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;


    background-image: url(Imagenes/fondo2.png);
    background-repeat: repeat;
}

/* Titulo Pizzeria Mendoza*/
#titulo.box {
    color:white;
    background-color: black;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px 20px 50px 20px; 
    width: 400px;
    height: 100px;
    text-align: center;
    float:none;
    margin: 30px;
   
}

#titulo.box:hover {
    color:black;
    background-image: url('Imagenes/italia1.jpg');
    background-size: cover;
    background-position: center;
}

/* contenedor, texto y img*/
.contenedor {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}
#parrafo.box {
    color:white;
    font-size: 20px;
    border-radius: 25px;
    background-color: black;
    border: 2px solid black;
    flex-basis: 35%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}
img {
    border-radius: 25px;
    border: 2px solid black;
    flex-basis: 55%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}